<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>逆U字型</title>
        <link rel="stylesheet" href="css/reverseUNavigation.css">
    </head>

    <body>
        <div class="globalNavigation">
            <p>グローバルナビゲーション</p>
        </div>
        <main>
            <div class="localNavigation">
                <p>ローカルナビゲーション</p>
            </div>
            <div class="content">
                <p>コンテンツ</p>
            </div>
            <div class="localNavigation">
                <p>ローカルナビゲーション</p>
            </div>
        </main>
    </body>
</html>